
<% content_for :title do %>Portal dashboard<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_timeline" data-view="Comments" style="background-color:#4099ff;" data-moreinfo=""></div>
      <i class="icon-twitter icon-background"></i>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_search" data-view="Comments" style="background-color:#ff9618;" data-moreinfo=""></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="zendesk_open_tickets" data-view="Comments" style="" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="jira_open_tickets" data-view="Comments" style="" data-moreinfo=""></div>
    </li>

  </ul>

</div>

