<div class="gridster" style="height: 100%;">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <iframe src="http://www.ri.gov/" style="display: block; width: 100%; height: 100%;"></iframe>
    </li>
  </ul>
</div>
